* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: rgb(161, 238, 130);
font-family: 'Benne', serif;
}


h1, header h2 {
text-align: center;
padding: 10px;
margin: 20px;
border: double 10px white;
width: 600px;
height: 70px;
position: relative;
left: 300px;
}

main {
display: flex;
justify-content: space-around;
height: 400px;
align-items: center;
}

a {
font-size: 20px;
text-decoration: none;
padding: 20px;
margin: 20px;
border-radius: 50%;
flex-wrap: wrap;
align-content: space-around;
width: 250px;
border: dashed 5px white;
}

main img {
width: 40px;
height: 40px;
}